@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
  /* Font */
  --mainFont: 'Montserrat', sans-serif;

  /* Colors */
  --black: #0B0B0B;
  --white: #F5F0ED;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
}